<?xml version="1.0"?>
<configuration>
  <configSections/>
  <appSettings>
    <add key="SiteUrl" value="http://herbalice.apphb.com"/>
    <add key="SSLUrl" value="https://herbalice.apphb.com"/>

    <add key="SmtpServerName" value="smtp.mailgun.org" />
    <add key="SmtpServerPort" value="587" />
    <add key="SmtpServerUserName" value="postmaster@app12445.mailgun.org" />
    <add key="SmtpServerPassword" value="51m-40xvoxs5" />
    
    <add key="FacebookAppID" value="1395776020663797"/>
    <add key="FacebookSecret" value="ee14c2f55b42acf2d85e92e7c9e4742c"/>
    <add key="FacebookAppAccessToken" value="464376806917263|kf6SOEJvVimcxY-tm5csTzVh4hc"/>
    <add key="FacebookAppCanvasUrl" value="http://apps.facebook.com/herbalice"/>
    <add key="FacebookPageID" value="162993340422722"/>
    <add key="FacebookPageUrl" value="http://www.facebook.com/pages/OnDesign-Testing/162993340422722"/>
    <add key="TwitterPageUrl" value="http://www.facebook.com/pages/OnDesign-Testing/162993340422722"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms defaultUrl="~/Welcome.aspx" name=".Login1" protection="All" enableCrossAppRedirects="true" path="/" timeout="2880" loginUrl="~/Welcome.aspx"/>
    </authentication>
    <!--
        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
        -->
    <customErrors mode="Off"/>
    <pages enableViewStateMac="false" validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <!-- 
    <httpModules>
      <add name="HttpModule" type="HerbalIce.HttpModules.HttpModule"/>
    </httpModules>
    -->
    <httpRuntime executionTimeout="240" maxRequestLength="10240" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    
  <system.webServer>
    <modules>
      <add name="HttpModule" type="HerbalIce.HttpModules.HttpModule"/>
    </modules>
  </system.webServer>
  -->
</configuration>